[Unit]
Description=ramfs for nginx session ticket keys

[Mount]
What=tmpfs
Where=/etc/nginx/session_tickets_keys
Type=tmpfs
Options=mode=0700,uid=nginx,gid=nginx,noexec,size=10M
DirectoryMode=0700

[Install]
WantedBy=multi-user.target
